@model Moment3MVC.Models.Book

@{
    ViewData["Title"] = "Edit Book";
}

<h1 class="title">Edit Book</h1>

<hr />
<form asp-action="Update">
    <div class="field">
        <label class="label" asp-for="Title">Title</label>
        <div class="control">
            <input class="input" asp-for="Title" />
        </div>
        <span class="help is-danger" asp-validation-for="Title"></span>
    </div>
    <div class="field">
        <label class="label" asp-for="Author">Author</label>
        <div class="control">
            <input class="input" asp-for="Author" />
        </div>
        <span class="help is-danger" asp-validation-for="Author"></span>
    </div>
    <div class="field">
        <label class="label" asp-for="PublishedDate">Published Date</label>
        <div class="control">
            <input class="input" asp-for="PublishedDate" type="date" />
        </div>
        <span class="help is-danger" asp-validation-for="PublishedDate"></span>
    </div>
    <div class="field">
        <label class="label" asp-for="BookDescription">Book Description</label>
        <div class="control">
            <textarea class="textarea" asp-for="BookDescription"></textarea>
        </div>
        <span class="help is-danger" asp-validation-for="BookDescription"></span>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-primary">Save</button>
        </div>
        <div class="control">
            <a class="button is-light" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}