@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

/* Ensure the navbar serves as the positioning context */
.navbar.relative {
    position: relative;
}

/* makes dropdown not extend parent */
#navbarDropdown.navbar-menu {
    position: absolute;
    top: 100%;
    left: -200px;
    right: 0;
    display: none;
    z-index: 10;
    visibility: hidden;
}

/* Display the dropdown when 'is-active' class is present */
#navbarDropdown.navbar-menu.is-active {
    display: block;
    visibility: visible;
}

/* some extra spacing */
.navbar-menu .navbar-start .navbar-item {
    padding: 0.75rem 1.5rem;
}

is-danger